<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %>  </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<%- include navigation.ejs %>
<br>
<Section id="HOME">
    <img src="/images/UkXOAiB.jpg">
    <div class="btn-wrap">
       <a href="/login"><button class="btn">Connexion <i class="fas fa-arrow-right"></i></button></a>
        <a href="/register"><button class="btn">Inscription <i class="fas fa-arrow-right"></i></button></a>
    </div>
</Section>

<Section id="HOTEL">
        <h3>Destinations d'hôtels et auberges populaires</h3>
        <h4> Trouvez les vacances de vos rêves avec notre large sélection de voyages</h4>
    <div class="hotel-wrapper">
            <div class="box">
                <img src="/images/hotel1.jpg">
            </div>
            <div class="box">
                <img src="/images/hotel2.jpg">
            </div>
            <div class="box">
                <img src="/images/hotel3.jpg">
            </div>
            <div class="box">
                <img src="/images/hotel4.jpg">
            </div>
    </div>
</Section>

<Section id="CONTACT">
    <h3>Contact Information</h3>
    <br><br><br><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4008.1191560926995!2d10.09048225695643!3d33.88526557647737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x625a1ac478970e2a!2zR3JvdXBlIENoaW1pcXVlIFR1bmlzaWVuINin2YTZhdis2YXYuSDYp9mE2YPZitmF2YrYp9im2Yog2KfZhNiq2YjZhtiz!5e0!3m2!1sfr!2stn!4v1562126166282!5m2!1sfr!2stn" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
</Section>

<Section id="ABOUTUS">
    <h3>À propos</h3>
    <div class="info-wrap">
        <img src="/images/screen-rocket.svg" class="rocket">
        <div class="about-info">
            <h4>TRAVEL est une application Web conçue pour vous aider à découvrir les plus belles villes de Tunisie et du monde.</h4><br>
            <h4>Travel est à votre disposition pour développer votre itinéraire et vous offrir le meilleur rapport qualité-prix..</h4><br>
            <h4>Nous vous aiderons à trouver les meilleurs conseils pour bien préparer votre voyage non seulement en Tunisie mais aussi dans le monde entier..</h4><br>
            <h4>Notre objectif est de proposer des voyages adaptés au budget de nos clients. Chez Travel & Travel, profitez de nos tarifs exclusifs dans les hôtels de luxe.</h4><br>
        </div>
    </div>
</Section>

</body>
</html>