<header>
    <div class="header-container">
        <div class="nav-header">
            <h1 id="logo"><a href=""><i class="material-icons">&#xeb3e;</i>Travel</a></h1>
            <nav id="menu-wrap" role="navigation">
                <ul class="menu">
                    <li><a href="#HOME"><i class="fas fa-home"></i> Accueil</a></li>
                    <li><a href="#HOTEL"><i class="fas fa-hotel"></i> Hôtel</a></li>
                    <li><a href="#CONTACT"><i class="fas fa-envelope"></i> Contact</a></li>
                    <li><a href="#ABOUTUS"><i class="fas fa-info-circle"></i> À propos</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<br><br>

