<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %>  </title>
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
 <section id="register-wrap">
     <div class="reg-container">
         <div class="register-head">
             <h3>Formulaire d'inscription</h3>
         </div>
         <img src="/images/devices_1x.png" class="device">
         <div class="register-body">
             <form action="/register" method="post">
                 <% if (typeof msg !== "undefined") { %>
                 <fieldset class="Sp1">
                         <div class="error-container">
                             <span class="error-msg"><%= typeof msg != 'undefined' ? msg : '' %></span>
                         </div>
                 </fieldset>
                 <% } %>
                 <fieldset class="Sp1">
                     <input type="text" placeholder="Votre Nom" name="nom" class="input-text nom">
                     <input type="text" placeholder="Votre Prénom" name="prenom" class="input-text prenom">
                 </fieldset>
                 <fieldset class="Sp1">
                     <input type="text" placeholder="someone@exemple.com" name="email" class="input-text email">
                 </fieldset>
                 <fieldset class="Sp1">
                     <input type="password" placeholder="********" name="password" class="input-text password">
                     <input type="password" placeholder="********" name="newPassword" class="input-text newPassword">
                 </fieldset>
                 <fieldset class="Sp1">
                     <input type="submit" value="INSCRIPTION" class="valid">
                     <input type="reset" value="ANNULER" class="cancel">
                 </fieldset>
                 <fieldset class="Sp1">
                     <a href="/login"><input type="button" value="CONNEXION" class="valid"></a>
                 </fieldset>
             </form>
         </div>
     </div>
 </section>
</body>
</html>