<div id="agenceMenu">
    <div class="menu-wrapper">
        <div class="mainMenu">
            <div class="logo-wrapper">
                <h1 class="logo"><i class="material-icons">&#xeb3e;</i>travel</h1>
            </div>
            <div class="menuBox">
                <ul >
                    <li><a href="/agence"><i class="fas fa-home"></i> Accueil</a></li>
                    <li><a href="/agenceProfile"><i class ="fa fa-user"></i> Profile</a></li>
                </ul>
            </div>
            <div class="SessionBox">
                <ul id="menu">
                    <li><img src="/images/defaultuserimage.png" class="userLogo"><li>
                    <li>
                        <div class="usrInfo">
                            <span><%= nom %> <%= prenom %></span><br>
                            <span><%= email %></span>
                        </div>
                    </li>
                    <li class="dropbtn"><a href="/logout"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>